body {
    background-color: #d2e1ff;
    width: auto;
    height: auto;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.window {
    position: relative;
    width: 700px;
    height: 390px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    margin: -195px 0 0 -350px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.title {
    background: linear-gradient(to top, #eea40e, #fec500);
    height: 60px;
    width: calc(100% - 10px);
    margin: 0 5px 5px;
    border-radius: 10px;
    position: relative;
    top: 5px;
    z-index: 2;
}

.step {
    position: relative;
    background-color: #dedede;
    width: calc(100% - 10px);
    height: 200px;
    border-radius: 10px;
    margin: 10px 5px -36px 5px;
    top: -40px;
}

.step-title {
    text-align: center;
    position: relative;
    top: calc(50% - 10px);
    margin-left: 20px;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-shadow:
            -1px 1px 0 rgba(0,0,0,0.2),
            1px -1px 0 rgba(0,0,0,0.2),
            -1px 1px 0 rgba(0,0,0,0.2),
            1px 1px 0 rgba(0,0,0,0.2);
}

.hide {
    display: none;
}

.form {
    position: relative;
    top: 50px;
}

.column {
    position: relative;
    margin-top: 30px;
}

.column label, .field-text {
    font-size: 16px;
    font-family: Myriad Pro;
    font-weight: 400;
}

.column label {
    position: absolute;
    top: -20px;
    margin-left: 24px;
}

.field-text {
    margin-left: 20px;
    width: 210px;
    height: 45px;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: inset 0px 0px 10px 4px rgba(193,193,193,1);
}

.btn{
    float: right;
    margin-right: 20px;
    margin-top: -10px;
    border-radius: 10px;
    width: 126px;
    height: 32px;
    font-size: 16px;
    color: #ccdafa;

    outline: none;
    background-color: #434CB2; background-image: -webkit-gradient(linear, left top, left bottom, from(#434CB2), to(#988DD8));
    background-image: -webkit-linear-gradient(top, #434CB2, #988DD8);
    background-image: -moz-linear-gradient(top, #434CB2, #988DD8);
    background-image: -ms-linear-gradient(top, #434CB2, #988DD8);
    background-image: -o-linear-gradient(top, #434CB2, #988DD8);
    background-image: linear-gradient(to bottom, #434CB2, #988DD8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#434CB2, endColorstr=#988DD8);
}

.btn:hover{
    border:1px solid #988DD8;
    background-color: #434CB2; background-image: -webkit-gradient(linear, left top, left bottom, from(#988DD8), to(#434CB2));
    background-image: -webkit-linear-gradient(top, #988DD8, #434CB2);
    background-image: -moz-linear-gradient(top, #988DD8, #434CB2);
    background-image: -ms-linear-gradient(top, #988DD8, #434CB2);
    background-image: -o-linear-gradient(top, #988DD8, #434CB2);
    background-image: linear-gradient(to bottom, #988DD8, #434CB2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#C9A9FF, endColorstr=#9174ED);
    cursor: pointer;
}

.btn-select {
    display: inline-block;
    position: absolute;
    left: 270px;
    height: 40px;
    padding: 10px;
    box-shadow: inset 2px 0px 10px 5px rgba(193,193,193,1);
    width: 160px;
    border-radius: 10px;
    background-color: #f2f2f2;
    color: #959393;
    font-size: 16px;
    font-family: Myriad Pro;
    font-weight: 400;
    outline:0;
}

.btn-select:hover {
    cursor: pointer;
}

.db-container{
    margin-right: 20px;
    position: relative;
    left: 20px;
}

.field-db {
    width: 30px;
    height: 40px;
    margin-left: 2px;
    text-align: center;
}

.info {
    color: red;
    font-weight: bold;
    position: absolute;
    left: 520px;
    top: 0px;
}

.field-comments {
    padding: 20px;
    width: 400px;
    height: 90px;
    resize: none;
}

#btn-step3 {
    position: absolute;
    right: 0;
    bottom: 0px;
}

#db-YY {
    width: 50px;
}